.detailsContainer {
  position: fixed;
  top: 10%;
  height: 83%;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
}

.detailsContainer::-webkit-scrollbar {
  display: block;
  width: 10px;
  background-color: rgba(0,0,0,.15);
}

.detailsContainer::-webkit-scrollbar-thumb {
  background-color: rgba(240, 87 ,45, .7);
  border-radius: 20px;
}


.detailsContainer h2 {
  padding: 25px 50px;
  margin: 0;
}

.detailsAvailableDates {
  gap: 20px;
}

.detailsPolicies h2 {
  padding-top: 30px;
}

.detailsBody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detailsGallery {
  width: 100%;
}

.detailsHeader {
  width: 100%;
}

.detailsLocationScoringInfo {
  display: flex;
  justify-content: space-between;
  padding: 16px 50px;
  background-color: #dfe4ea;
}

.detailsLocation {
  display: flex;
  gap: 10px;
  width: 50%;
}

.detailsLocationInfo {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
}

.detailsScoring {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.detailsScore {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31363f;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.detailsScore p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.detailsReview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.detailsAvailableDates {
  display: grid;
  background-color: #dfe4ea;
  padding: 15px 50px;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 3fr;
}

.detailsAvailableDates h2 {
  padding: 0;
  align-self: center;
}

.detailsMap p {
  font-weight: bold;
  padding: 25px 50px;
}

.detailsShare {
  padding: 15px 50px 0;
  display: flex;
  gap: 15px;
  align-items: center;
  height: 70px;
  width: fit-content;
}

.shareIcons {
  display: flex;
  align-items: center;
  gap: 5px;
  animation-duration: 3s;
  animation-name: slidein;
  position: relative;
  width: fit-content;
  animation-duration: 1s;
  animation-name: slidein;
}

.shareIcon {
  cursor: pointer;
}

.shareIcon:hover {
  transform: scale(1.05);
}

.shareIcons button {
  width: 100%;
}

.socialIconsWrapper {
  display: block;
  width: fit-content;
}

@keyframes slidein {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.hideSocialIconsWrapper {
  display: none;
}

.detailsLine {
  border: 0.7px solid #f0572d;
}

.calendarLayout {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
}

/* .calendarDetails {
  margin: 20px;
} */

.reservationDetails {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  background-color: white;
  padding: 20px;
  gap: 15px;
  border-radius: 8px;
  box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  -webkit-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  -moz-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
}

.reservationDetails p {
  font-weight: bold;
  font-size: 16px;
}

.reservationButton > a {
  display: flex;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

/* .calendarLayout {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

.calendarDetails {
  display: flex;
  background-color: white;
  border-radius: 8px;
  justify-content: space-around;
  padding: 25px 15px;
  box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  -webkit-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  -moz-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
}

.gridFirstMonth {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  text-align: center;
  width: 50%;
  border-right: 0.1px solid rgb(0, 0, 0, 0.3);
  height: calc(21vw - 15px);
  padding: 0 25px 0 25px;
}

.gridFirstMonth p {
  text-align: center;
}

.gridSecondMonth {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  text-align: center;
  width: 50%;
  border-left: 0.1px solid rgb(0, 0, 0, 0.3);
  padding: 0 25px 0 25px;
}

.weekDays {
  font-weight: bold;
}

.dayOfMonth {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}
.dayOfOtherMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
}

.month {
  grid-column: span 7;
}

.changeMonthButton {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: none;
  background-color: #f0572d;
  align-self: center;
  box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
  -webkit-box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
  -moz-box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
}

.changeMonthButton:hover {
  cursor: pointer;
}

.changeMonthButton > svg > * {
  color: #fff;
}

.available:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.unavailable {
  color: rgb(0, 0, 0, 0.3);
  pointer-events: none;
}

.selected {
  border: 1px dashed #f0572d;
  /* border: 1px solid black; */
  color: #000000;
  width: 60%;
  min-width: 25px;
  height: 90%;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.clearDate {
  display: none;
}

.hideClearDate {
  display: none;
}

.rangeLimits {
  background-color: #f0572d;
  color: white;
  width: 60%;
  min-width: 25px;
  height: 90%;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.reservationButton {
  display: flex;
  align-items: center;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #f0572d;
  box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
  -webkit-box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
  -moz-box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
}

.reservationButton:hover {
  cursor: pointer;
  background-color: #e78c73;
}

.changeMonthButton:hover {
  background-color: #e78c73;
}

.changeMonthButton:active {
  box-shadow: 0 5px #82818163;
  transform: translateY(2px);
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 1.5s;
}

.fadeOut {
  animation-name: fade-out;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.today {
  border-bottom: #f0572d solid 2px;
}

.detailsChar {
  padding: 25px 50px;
}

.featuresBody {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr;
}

.featureIcons {
  display: flex;
  gap: 10px;
  height: 50px;
  font-weight: bold;
  align-items: center;
}

.iconName {
  display: inline-block;
}

.featureIcons > span {
  display: inline-block;
}

.featureIcons > svg > * {
  color: #f0572d;
}

.favIcon {
  font-size: 25px;
  animation: pulse 0.7s infinite;
  cursor: pointer;
}

.favIcon > path:hover {
  color: rgb(236, 153, 130);
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

.full-false > path {
  color: rgb(0, 0, 0);
}

.full-true > path {
  color: rgb(240, 87, 45);
}

/* Policies */

.detailPolicies {
  display: grid;
  grid-template-columns: repeat(3, auto);
  min-height: 5 00px;
  padding: 50px 50px;
  font-weight: bold;
  font-size: 16px;
  grid-gap: 25px;
}

.detailPolicies h3 {
  padding-bottom: 25px;
  font-size: 22px;
}

.detailRules {
  display: flex;
  flex-direction: column;
}

.rulesBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.securityBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cancellationBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.full {
  color: rgb(240, 87, 45);
}

@media only screen and (max-width: 1024px) {
  .detailsAvailableDates {
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-columns: auto;
    gap: 0;
  }

  .reservationDetails {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column: 1;
    grid-row: 3;
    background-color: #dfe4ea;
    box-shadow: none;
  }

  .detailsLocationScoringInfo {
    padding: 15px 20px;
  }

  .detailsContainer h2 {
    padding: 25px 25px;
  }

  .detailsAvailableDates {
    padding: 25px 25px;
  }

  /* .detailsAvailableDates h2 {
    padding: 0px 5px 25px;
  } */
  .detailsShare {
    padding: 15px 25px;
  }

  .changeMonthButton:hover {
    background-color: white;
  }

  .changeMonthButton {
    align-self: flex-start;
    background-color: transparent;
    box-shadow: none;
    width: 20px;
    height: 20px;
  }

  .calendarDetails h4 {
    padding-bottom: 15px;
  }

  .changeMonthButton > svg > * {
    color: #000000;
  }

  .gridFirstMonth {
    height: 100%;
    padding-right: 20px;
  }

  .gridSecondMonth {
    padding-left: 20px;
  }

  .selected {
    width: 45%;
    min-width: 25px;
  }

  /* POLICIES */

  .detailPolicies {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 50px 50px 0;
  }

  .detailSecurity {
    grid-column: 2;
    grid-row: 1/3;
  }

  .featuresBody {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .detailsShare {
    position: absolute;
    z-index: 2;
    padding: 15px 15px;
  }

  .detailsMap p {
    padding: 25px 15px;
  }
  .detailsContainer h2 {
    padding: 25px 15px;
  }

  .detailsDistance {
    display: none;
  }

  .reservationDetails {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
  }

  .gridSecondMonth {
    display: none;
  }
  .gridFirstMonth {
    border-right: 0;
    width: 100%;
    padding: 0;
  }

  div.hide {
    display: none;
  }

  .reservationDetails {
    flex-direction: column;
  }
  .reservationDetails p {
    width: 100%;
    padding-bottom: 20px;
  }

  .reservationButton {
    width: 100%;
  }
  .selected {
    width: 30%;
    min-width: 25px;
  }

  /* POLICIES */

  .detailPolicies {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .detailSecurity {
    grid-column: 1;
    grid-row: 2;
  }
}
